* {
	padding: 0;
	margin: 0;
}

.App {
	padding: 2rem;
	text-align: center;
	background: #f0654c;
	color: #fff;
	height: 100vh;
}

input {
	padding: 10px;
	border-radius: 25px;
	border-color: transparent;
	margin: 20px 0;
	width: 15%;
}

button {
	padding: 10px;
	border-radius: 20px;
	margin-left: 10px;
	width: 5%;
	border: transparent;
	background: #fff;
	color: #f0654c;
	font-weight: bold;
}

.todo-container {
	display: flex;
	background: #fff;
	color: #f0654c;
	margin: 0 auto;
	width: 35%;
	padding: 8px 40px 8px 20px;
	border-radius: 25px;
	margin-bottom: 20px;
	align-items: center;
}

.todo {
	flex: 1;
	text-align: left;
}
